@import 'tailwindcss';
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@source "../views";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@media screen and (max-width: 768px) {

    body{
        font-size: 3.5vw;
    }
    .main{
        font-size: 4.5vw;
        @apply text-white  py-2 px-4 rounded;
    }
    .content {
        max-width: 200px;
    }
    .login {
        font-size: 3vw;
    }

    .logo {
        @apply w-46;
    }

    .h2_title{
        font-size: 6vw;
        @apply font-bold p-4 mt-10;
    }
    .main_title{
        font-size: 6vw;
        @apply font-bold text-center p-4 mt-10 text-[#339dc8];
    }
    .main_btn {
        @apply p-5 pl-10 pr-10 focus:outline-none text-white bg-red-400 font-medium
        rounded-4xl mt-10 text-sm cursor-pointer;
    }

    .word-list-description {
        font-size: 3vw;
    }
    .word-list-stat {
        font-size: 2.5vw;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .h2_title{
        @apply text-6xl font-bold p-4 mt-10;
    }
    .main_title{
        @apply text-3xl text-center mb-10 text-[#339dc8];
    }
    .content {
        max-width: 400px;
    }
    .logo {
        @apply w-76;
    }
    .main_btn {
        @apply p-5 pl-10 pr-10 focus:outline-none text-white bg-red-400 font-medium
        rounded-4xl mt-10 text-2xl cursor-pointer;
    }

    .word-list-description {
        font-size: 3vw;
    }

    .word-list-stat {
        font-size: 2.5vw;
    }

}

@media (min-width: 1024px) {
    .h2_title{
        @apply text-6xl font-bold p-4 mt-10;
    }
    .main_title{
        @apply text-5xl text-center font-bold p-4 mt-10 text-[#339dc8];
    }
    .content {
        max-width: 1000px;
    }
    .logo {
        @apply w-16;
    }
    .main_btn {
        @apply p-5 pl-10 pr-10 focus:outline-none text-white bg-red-400 font-medium
        rounded-4xl mt-10 text-2xl cursor-pointer;
    }
    .image-container {
        height: 200px;
    }
}

.image-container {
    width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    margin: auto;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.main_title{
    @apply mb-5;
}

.popup {
    display: none; /* Скрываем попап по умолчанию */
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 30%; /* Ширина попапа 50% */
    height: 50%; /* Высота попапа 50% */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Тень */
    padding: 20px;
    z-index: 1000;
    overflow: auto; /* Прокрутка, если контент превышает высоту */
}
.overlay {
    display: none; /* Скрываем оверлей по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.close-btn {
    cursor: pointer;
    color: red;
    display: block;
    margin-top: 20px;
}

.non-clickable {
    pointer-events: none; /* Отключает все события указателя */
    /* Дополнительно можно добавить стиль, чтобы визуально показать, что элемент некликабельный */
    opacity: 0.5; /* Пример: сделать элемент полупрозрачным */
}
